@model IEnumerable<SmartShopping.DB.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class="btn btn-success"})
    @*<a class="btn btn-success" href="/Products/Create">Create New</a>*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th class="mobile-hidden">
            @Html.DisplayNameFor(model => model.product_des)
        </th>
        <th class="mobile-hidden">
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td class="mobile-hidden">
            @Html.DisplayFor(modelItem => item.product_des)
        </td>
        <td class="mobile-hidden">
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_id }, new { @class="fa fa-edit"}) |
            @Html.ActionLink("Details", "Details", new { id=item.product_id }, new {  @class= "fa fa-file-o" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_id }, new { @class= "fa fa-remove"})
        </td>
    </tr>
}

</table>
